In [1]:
import pandas as pd
from os import path
import numpy as np
from random import randint
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('./data_512.csv', index_col=['timestamp', 'num'], parse_dates=['timestamp']).sort_index()
df.head()

                                                                band1_path  \
timestamp           num
2018-03-23 17:30:00 155  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    156  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    178  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    179  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    180  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                band3_path  \
timestamp           num
2018-03-23 17:30:00 155  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    156  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    178  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    179  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    180  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                  hms_path  \
timestamp           num
2018-03-23 17:30:00 155  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    156  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    178  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    179  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    180  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                         is_empty_bin  is_empty_den  hms_sum  exists
timestamp           num
2018-03-23 17:30:00 155          True         False     4840    True
                    156          True         False    13960    True
                    178          True         False     3310    True
                    179          True         False    25895    True
                    180          True         False    49095    True

In [3]:
data_df = df[df.is_empty_den]
data_df

                                                                band1_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                band3_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                  hms_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                         is_empty_bin  is_empty_den  hms_sum  exists
timestamp           num
2018-03-27 20:30:00 180          True          True     9625    True
2018-03-27 21:00:00 180          True          True     9625    True
2018-03-27 21:30:00 180          True          True     9625    True
2018-03-27 22:00:00 180          True          True     9625    True
2018-03-27 22:30:00 180          True          True     9625    True
...                               ...           ...      ...     ...
2018-09-22 23:30:00 154          True          True  1461119    True
                    176          True          True    29579    True
2018-09-23 00:00:00 153          True          True  1040607    True
                    154          True          True  1461119    True
                    176          True          True    29579    True

[9220 rows x 7 columns]

In [4]:
seed = randint(0, 100)
np.random.seed(seed)
print("Seed is {seed}".format(seed=seed))

Seed is 49

In [7]:
train_data_df, test_data_df = train_test_split(data_df, test_size=0.1)

In [8]:
len(train_data_df), len(test_data_df)

(8298, 922)

In [9]:
train_data_df.to_csv("train_data_seed{seed}.csv".format(seed=seed))

In [10]:
test_data_df.to_csv("test_data_seed{seed}.csv".format(seed=seed))